*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

.nav ul{
	float: right;
	list-style-type: none; 
    margin-top: 15px;
  
    
}

.nav ul li{
	display: inline-block;
}
 
.nav ul li a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	padding:5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

.nav ul li.active a
{
	background-color:#ffffff;
	opacity: 0.6;
	color: #000;
}

.nav ul li a:hover{
    background-color:#fff;
    opacity: 0.6;
	color: #000;
}

header {
	background-image: url(aboutUs.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	position: relative;
}



body{
    background-color: #0072B5;
}

html 
{
	box-sizing: border-box;
}
  
*, *:before, *:after 
{
	box-sizing:inherit;
}
  
.column 
{
	float: left;
	width: 20%;
	margin-bottom: 16px;
	padding: 0 8px;
}
  
.card 
{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 8px;
}
  
.about-section 
{
	padding: 50px;
	text-align: center;
	background-color: #474e5d;
	color: white;
}
  
.container 
{
	padding: 0 16px;
}
  
.container::after, .row::after 
{
	content: "";
	clear: both;
	display: table;
}
@media screen and (max-width: 650px) {
	.column {
	  width: 100%;
	  display: block;
	}
}

.anchor{
	position:absolute;
	top:40%;
	width:100%;
	text-align:center;
	
	font-size:27px;
	letter-spacing:8px;
	text-transform:uppercase;
}
.anchor p{
	font-size: 15px;
}
.anchor a:hover{
	
	opacity: 0.75;
}
  
.anchor .border{
	background-color:#111;
	color:#fff;
	padding:15px;
	opacity: 0.8;
}
  
.anchor .border.trans{
	background-color:transparent;
}
